<section class="servicios">
  <section class="container__servicios">
      <section class="fila__servicios">
          <article class="info__servicios">
              <h3>Explora <b>nuestros</b> servicios</h3>
              <p>En RubyTrans, ofrecemos una amplia gama de servicios de logística y transporte para cubrir todas tus necesidades. Nuestro objetivo es proporcionarte soluciones integrales y eficientes para asegurar el éxito de tus operaciones comerciales. A continuación, te presentamos algunos de los servicios que ofrecemos</p>
          </article>
      </section>

      <section class="container__cards">
          <article class="card">
            <mat-icon class="card__icon">conveyor_belt</mat-icon>
              <h4>Almacenamiento y distribución</h4>
              <p>Disponemos de instalaciones de almacenamiento diseñadas para garantizar la seguridad y protección de tus mercancías.</p>
              <ul>
                  <li>Gestión de inventario</li>
                  <li>Picking y packing</li>
                  <li>Distribución loca e internacional</li>
              </ul>
          </article>
          <article class="card">
            <mat-icon class="card__icon">conveyor_belt</mat-icon>
              <h4>Gestión aduanera</h4>
              <p>Simplificamos los trámites aduaneros y te ayudamos a cumplir con las regulaciones y normativas internacionales. </p>
              <ul>
                  <li>Simplificación de trámites</li>
                  <li>Cumplimiento normativo</li>
                  <li>Despacho rápido</li>
              </ul>
          </article>
          <article class="card">
            <mat-icon class="card__icon">conveyor_belt</mat-icon>
              <h4>Seguimiento y monitoreo</h4>
              <p>Utilizamos tecnología avanzada de seguimiento y monitoreo para mantener un control preciso de tus envíos.</p>
              <ul>
                  <li>Visibilidad completa</li>
                  <li>Seguimiento en tiempo real</li>
                  <li>Tecnología avanzada</li>
              </ul>
          </article>
      </section>
  </section>
</section>
