<section class="objetivos">
  <h2>Nuestros <b> objetivos</b></h2>
  <p>
    En nuestra empresa, estamos comprometidos con alcanzar una serie de metas y objetivos. <br />
    A continuación, te presentamos un resumen de nuestros logros en números.
  </p>
  <section class="fila__cards">
    <article class="card__cifras">
      <mat-icon class="favorite"> inventory_2 </mat-icon>

      <h3>300+</h3>
      <h4>Suministros</h4>
    </article>

    <article class="card__cifras">
      <mat-icon class="favorite"> apartment </mat-icon>
      <h3>120+</h3>
      <h4>Empresas</h4>
    </article>

    <article class="card__cifras">
      <mat-icon class="favorite"> flag </mat-icon>
      <h3>60+</h3>
      <h4>Países cubiertos</h4>
    </article>
    <article class="card__cifras">
      <mat-icon class="favorite"> add_business </mat-icon>
      <h3>600+</h3>
      <h4>Almacenes</h4>
    </article>
  </section>
</section>
