.welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 80px;
  height: 800px;
  background: linear-gradient(#fbdc8e41, #fb958e2a);
}

.welcome .fotos img {
  height: 540px;
  border-radius: 10px;
}

.welcome .fotos {
  margin-left: 100px;
}


.welcome article.fotos {
  position: relative;

}

.welcome article.fotos section {
  position: absolute;
  z-index: 1;
  bottom: -96px;
  left: -82px;

}

.welcome .info {
  width: 45%;
  height: 50%;
  padding-right: 30px;

}

.welcome .info h3 {
  text-align: justify;
  font-size: 56px;
  color: #F05745;
}

.welcome .info h3 span {
  color: black;
}

.welcome .info p {
  font-size: 25px;
  text-align: justify;
  font-weight: 300;
  margin-bottom: 50px;
}

.welcome article.info button {
  background: #f5f5f5;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #FEF6E4;
  background-color: #F05745;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0px 4px 20px -5px #363535;
  cursor: pointer;
}
