<section class="welcome">
  <article class="fotos">
    <img src="../../assets/img/welcome-2.png" alt="Welcome" />
    <section>
      <img src="../../assets/img/welcome-1.png" alt="Welcome" />
    </section>
  </article>
  <article class="info">
    <h3>
      Rubytrans <span>alrededor <br />del mundo</span>
    </h3>
    <p>
      Nuestra pasión es llevar tus cargas a cualquier parte del mundo. Con una
      sólida experiencia en el sector del transporte internacional, nos
      enorgullece ofrecer soluciones logísticas eficientes y confiables a
      nuestros clientes.

      <br />
      <br />
      Confía en TransMax Logistics para llevar tus negocios más allá de las
      fronteras. Estamos listos para ser tu aliado logístico confiable y
      eficiente, ofreciéndote un servicio de calidad y permitiéndote llegar a
      cualquier destino que desees, sin importar lo lejos que esté.
    </p>
    <button>Más información</button>
  </article>
</section>
