.container__mercancias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 40px;
  padding: 40px;

}

.container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px -5px #02020294;
  background-color: #FEF6E4;

}

.container__card:hover {
  transition: 0.3s ease-in;
  box-shadow: 20px 20px 20px -5px #020202;


}

.container__card p span {
  font-weight: 600;
  color: #F05745;
}

.container__card p {
  font-size: 20px;
  font-weight: 400;
}
